
body{
    background: white;
    font-family: "Avenir Light", "Sans serif";
    font-size: 1rem;
    color: #2D2D2E;
}
header{
    background-color: white;
    padding: 15px 0;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
header img{
    height: 46px;
    width: 179px;
    padding: 0;
    margin: -6px;
}
.image-logo{
    padding-left: 60px;
    width: max-content;
    display: inline-block;
}
.nav-custom{
    float: right;
    font-size: 13px;
    font-weight: 500;
    padding-right: 60px;
}
.navbar-toggler{
    background: linear-gradient(to right, #11CEC4, #00A1C6);
}
.navbar-toggler i{
    color: #fff;
    text-align: center !important;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.nav-item a{
    color: black;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    padding: 0 27px 10px 27px;
    
}
li.nav-item{
    position: relative;
    margin-left: 10px;
    width: 90px;
    
}
.custom-getstarted span{
    background: white;
}
.nav-active::after, .nav-custom li:hover::after{
    content: "";
    position: absolute;
    top: 120%;
    display: block;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: linear-gradient( to right, #11CEC4, #00A1C6 ) left bottom no-repeat;
}
#banner{
    overflow: hidden;
}
#banner .carousel{
    height: 100vh;
    position: relative;
}
#banner .carousel-caption{
    color: black;
}
.pos-abs{
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}
.banner img{
    background-attachment: fixed;
    vertical-align: center;
}
h2{
    font-family: "Avenir Black", sans-serif;
    font-size: 48px;
    color: #2D2D2E;
    margin: 0 0 30px 0;
}
#banner .carouselItem{
    height: 100vh;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner p{
    width: 50%;
    font-size: 14.4px;
    margin: 0 auto 30px auto;
}
#banner .carouselItem:nth-child(1){
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner .carouselItem:nth-child(2){
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner .carouselItem:nth-child(3){
    background: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.custom-fa{
    -webkit-text-stroke-color:  #303335;
    -webkit-text-stroke-width: 0.7px;
   color:transparent;
}
#banner-carousel button, #about button, #contact button{
    background: linear-gradient( to right, #11CEC4, #00A1C6 ) left bottom no-repeat;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#banner-carousel button:hover, #about button:hover, #contact button:hover{
    background: white;
    color: #1799ff;
    border: 1px solid #1799ff;
}
.bg-ops{
    background: linear-gradient( to right, #11CEC4, #00A1C6 ) left bottom no-repeat;
    border: transparent;
    display: block;
}
.custom-p-1035{
    padding: 10px 35px;
}
.bg-ops *{
    color: white;
    border: none;
}
.rounded-right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#banner .carousel-indicators li, #about .carousel-indicators li{
    bottom: 40px;
    margin-bottom: 40px;
    margin-right: 6px;
    margin-left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #2D2D2E;
    opacity: 0.2;
}
#banner .carousel-indicators li.active, #about .carousel-indicators li.active{
    background: linear-gradient( to bottom, #11CEC4, #00A1C6 ) left bottom no-repeat;
    opacity: 1;
}
#about .carousel-indicators{
    text-align: right;
    justify-content: flex-end;
}
#about{
    padding: 60px 0 40px 0;
}
#about p{
    margin-top: 50px;
}
.section-header{
    font-size: 32px;
    color: #2D2D2E;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    font-family: "Avenir Black", "Sans serif";
}
.section-header::before{
    content: '';
    position: absolute;
    display: block;
    width: 110px;
    height: 3px;
    background: linear-gradient(to right, #11CEC4, #00A1C6);
    bottom: 1px;
    left: calc(50% - 60px);
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-180{
    margin-bottom: 180px;
}
#mission .item-card{
    text-align: center;
}
.item-card h4{
    font-size: 19px;
    font-family: "Avenir Black", "Sans serif";
    margin-top: 20px;
    margin-bottom: 15px;
}
#mission .intro-header , #services .intro-header {
    padding-bottom: 30px;
    line-height: 24px;
    color: #2D2D2E;
    font-size: 1em;
}
.card-header-custom{
    font-size: 19px;
    font-family: "Avenir Black", "Sans serif";
    margin-top: 20px;
    margin-bottom: 15px;
}
#mission p.details{
    font-size: 0.9em;
    line-height: 24px;
    margin-bottom: 0;
    color: #2D2D2E;
    max-width: 83%;
}
section{
    padding: 60px 0 70px;
}
#vision{
    padding: 60px 0 40px;
}
#vision .section-header::before{
    left: 0;
}
#vision h3{
    padding-bottom: 15px;
    margin-bottom: 20px;
}
#vision p.intro-header{
    font-weight: 600;
}
.bridge{
    background:url(../img/bridge-image-1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.bridge2{
    background:url(../img/bridge-image-2.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bridge-content{
    font-size: 29px;
    font-weight: 550;
    color: white;
    display: block;
    padding: 80px 0;
    text-align: center;
}

.bridge-content a{
    font-size: 23px;
    text-decoration: none;
}
.btn-bridge-hire{
    box-sizing: border-box;
    padding: 10px 35px;
    border-radius: 5px;
    border: 1px solid white;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-bridge-hire:hover{
    border: 1px solid #179aff00;
    background: white;
    color: #1799ff;;
}
#services{
    background: #F5FDFF;
}
#services img{
    height: 70px;
    width: 70px;
}
#services .item-card{
    padding: 20px 15px 5px;
}
#services .card-container{
    background: white;
    padding: 20px 15px 5px 15px;
    min-height: 216px;
}
h3.section-header-lead{
    font-size: 32px;
    color: #2D2D2E;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Avenir Black", "Sans serif";
    margin: 60px 0 0 0 ;
}
.font-small{
    font-size: 15px!important;
    font-family: "Avenir Light", "Sans serif"!important;
}
.header-leading-text{
    padding-bottom: 30px;
    font-size:  12px;
}
.lining-text{
    position: relative;
    display: block;
}
.lining-text::after{
    content: "";
    display: block;
    position: absolute;
    top: 60%;
    margin: auto;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    background: linear-gradient( to right, #11CEC4, #00A1C6 ) left bottom no-repeat;
}
.custom-grid{
    display: grid;
    max-width: 1028px;
    width: 100%;
    height: 587px;
    grid-template-columns: 20% 21% auto 24%;
    grid-template-rows: 34% 33% auto;
    grid-template-areas: 
        "imgA imgA imgE imgG"
        "imgB imgC imgE imgH"
        "imgD imgD imgF imgH";
    grid-gap: 10px;
    margin: auto;
}
.custom-grid-item{
    overflow: hidden;
    position: relative;
}
.custom-grid-item img{
    height: 100%;
    transition:all 0.5s ease;
    cursor: pointer;
    width: 100%;
}
.custom-grid-item:nth-child(1){
    grid-area: imgA;
    background: #D1E2D4;
}
.custom-grid-item:nth-child(2){
    grid-area: imgB;
    background: #EEB2B2;
}
.custom-grid-item:nth-child(3){
    grid-area: imgC;
    background: #BCB2EE;
}
.custom-grid-item:nth-child(4){
    grid-area: imgD;
    background: #E2EEB2;
}
.custom-grid-item:nth-child(5){
    grid-area: imgE;
    background: #B2EEB4;
}
.custom-grid-item:nth-child(6){
    grid-area: imgF;
    background: #B2EEEC;
}
.custom-grid-item:nth-child(7){
    grid-area: imgG;
    background: #EEB2E4;
}
.custom-grid-item:nth-child(8){
    grid-area: imgH;
    background: #F5E267;
}
.custom-grid-label{
    background:rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding: 15px 20px 20px;
    position: absolute;
    display: none;
    right: 0;
    width: 98%;
    bottom: 10px;
}
.custom-grid-label h2{
    font-size: 14.4px;
    font-family: "Avenir Black", sans-serif;
    margin: 0;
    color: white;
}
.custom-grid-label p{
    font-size: 13.7px;
    margin: 0;
    color: white;
    font-family: "Avenir Light", sans-serif;
}
.tcard-messagebox{
    padding: 0px 20px 20px;
    background-color: white;
    position: relative;
}
.tcard-messagebox::before{
    content: "";
    display: block;
    border-width: 25px 16px;
    border-color: white transparent transparent transparent;
    border-style: solid;
    /* border-top: 25px solid rgb(85, 224, 50);
    border-right: 16px solid white;
    border-bottom: 25px solid white;
    border-left: 16px solid white; */
    position: absolute;
    top: 98%;
    left: 9%;
    transform: translateX(-9%);
}
.tcard-messagebox img{
    height: 60px;
    width: 60px;
    margin: 30px 0px 30px 20px;
}
.tcard-message{
    font-size: 13.7px;
    padding: 0px 20px 20px;
}
.client-name{
    font-size: 15px;
    margin-left: 20px;
    font-family: "Avenir Black", sans-serif;
}
.tcard-client{
    padding: 40px 20px 0px;
}
.tcard-client p{
    font-size: 15px;
    margin-left: 20px;
    font-family: "Avenir Light", sans-serif;
}
.slide-carousel-item{
    padding: 15px;
    
}
.owl-custom-item{
    opacity: 0.6;
    transform: scale(0.7);
}
div.owl-item:nth-child(3) > .active .owl-custom-item{
    opacity: 1;
    transform: scale(1);
}
#banner{
    padding: 0;
}
.custom-list-contact:nth-child(1){
    background-image: url("../img/location-icon.png");
}
.custom-list-contact:nth-child(2){
    background-image: url("../img/email-icon.png");
}
.custom-list-contact:nth-child(3){
    background-image: url("../img/contact-icon.png");
}
.custom-list-contact{
    margin: 0;
	padding: 0 0 36px 42px;
    list-style: none;
    background-image: url("../img/location-icon.png");
    color: rgba(0, 0, 0, 0.712);
    font-size: 15px;
}
.custom-list-contact span{
    color: black;
    font-size: 21px;
    font-weight: 600;
}

.custom-list-contact:nth-child(1){
    background-image: url("../img/location-icon.png");
    background-repeat: no-repeat;
	background-position: left top;
	background-size: 28px;
}
.custom-list-contact:nth-child(2){
    background-image: url("../img/email-icon.png");
    background-repeat: no-repeat;
	background-position: left top;
	background-size: 28px;
}
.custom-list-contact:nth-child(3){
    background-image: url("../img/contact-icon.png");
    background-repeat: no-repeat;
	background-position: left top;
	background-size: 28px;
}
iframe.custom-map{
    width:100%;
    height:300px;
}
.get-in-touch{
    font-size: 21px;
    font-family: "Avenir Black", "Sans serif";
}
.p-custom-footer{
    padding: 40px 30px 0 30px;
}
footer{
    padding-bottom:40px;
    font-size: 14px;
}
.ops-btn:hover{
    color: #1799ff;
    background: #fff;
}
.delay-05{
    animation-delay: 0.5s;
}
.delay-04{
    animation-delay: 0.4s;
}
.delay-03{
    animation-delay: 0.3s;
}
.delay-02{
    animation-delay: 0.2s;
}
.delay-01{
    animation-delay: 0.1s;
}
.custom-grid-item:hover > img{
    transform: scale(1.2);
}
.custom-grid-item:hover > div.custom-grid-label{
    display: block;
}
.section-block{
    /* visibility: hidden; */
}
.navbar-nav .active>.nav-link{
    color: green!important;
}






